.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body{
  background-color: rgb(136 113 149);
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show{
  display: block;
}
.hide{
  display: none;
}
.container{
  height: 600px;
  margin: auto;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.typingContainer{
  position: absolute;
  bottom: 50px;
  width: 100%;
}
#enemyContainer{
  
  position: absolute;
  top: 20%;
  /* margin-top: -178px; */
  left: 50%;
  margin-left: -85px;

}

.typingContainer input[type="text"]{
  border: 7px solid black;
  border-radius: 10px;
  width: 450px;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  margin: auto;
}
.typingContainer img{
  position: absolute;
  right: -160px;
  bottom: -50px;
  width: 270px;
}
.formContainer{
  bottom: 0px;
  position: absolute;
  left: 50%;
  margin-left: -235px;
  width: 470px;

}
#explosion{
  position:absolute;
}
.boundary{
  padding:0px 200px;
  overflow: hidden;
}
#sentText{
  color:palevioletred;
}
@media only screen and (max-width: 500px) {
  .boundary {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .container{
    width: 100%;
    height: 100%;
  }
  .formContainer{
    width: 100%;
  }
  .typingContainer input[type="text"]{
    padding-right: 100px;
    width: 60%;
    font-size: 1.25rem;
    height: 2rem;
    max-width: 350px;
  }

  #explosion{
    width: 120px;
  }
  #yaminion{
    width: 120px;
  }
  #enemyContainer{
    margin-left: -60px;
    top: 15%;
  }
  .typingContainer{
    bottom: 45%;
  }
  .typingContainer img{
    width: 200px;
}
.typingContainer img {
    position: absolute;
    right: -40px;
    bottom: -27px;
  }
  #sentText{
    font-size: 1.25rem;
  }
}
#textinput{
  text-align: center;

}
.typed{
  color:palevioletred;
}
#scoreContainer{
  position: absolute;
  top: 0;
}